@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme("colors.gray.DEFAULT");
  background-color: theme("colors.secondary.DEFAULT");
}

@layer utilities {
  @variants responsive {
    .masonry {
      column-count: 1;
      column-gap: 0;
    }

    @media only screen and (min-width: 768px) {
      .masonry {
        column-count: 2;
      }
    }

    @media only screen and (min-width: 1024px) {
      .masonry {
        column-count: 3;
      }
    }

    @media only screen and (min-width: 1280px) {
      .masonry {
        column-count: 4;
      }
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

.parent:hover .parent-hover\:scale-105 {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}

.swiper-container {
  width: 600px;
  height: 300px;
}

.pagination {
  justify-content: center;
  display: flex;
  align-items: center;
  list-style: none;
}



.pagination__link--disabled {
  cursor: not-allowed;
}

.pagination__link--active {
  background-color: theme("colors.primary.light") !important;
}

.pagination__link {
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  background-color: theme("colors.primary.DEFAULT");
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

