@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme("colors.gray.DEFAULT");
  background-color: theme("colors.secondary");
}

iframe {
  width: 100%;
  height: calc((100vw * 9) / 16);
}

@layer utilities {
  @variants responsive {
    .masonry {
      column-count: 1;
      column-gap: 0;
    }

    @media only screen and (min-width: 640px) {
      .masonry {
        column-count: 2;
      }
    }

    @media only screen and (min-width: 768px) {
      .masonry {
        column-count: 3;
      }
    }

    @media only screen and (min-width: 1024px) {
      .masonry {
        column-count: 4;
      }
    }

    @media only screen and (min-width: 1280px) {
      .masonry {
        column-count: 5;
      }
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

.banner-video {
  height: 100vh;
  overflow: hidden;
}

@media (max-aspect-ratio: 16/9) {
  .banner-video {
    width: 100%;
    overflow: hidden;
  }

  iframe {
    width: calc((100vh * 16) / 9);
    pointer-events: none;
  }
}
